@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .mob-item-icons {
        gap: 56px;
    }

    .modal {
        width: 408px;

    }
}

/*!----------TABLET----------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /*----------HEADER----------*/
    .header {
        height: 72px;
        padding: 0;
    }

    .header-container {}

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .active::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px;
        left: 0;
        bottom: -1px;

    }

    .header-menu-link {
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-color-dark);
        padding: 24px 0;

    }

    .active {
        color: #404BBF;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #404BBF;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address {
        font-style: normal;
        margin-left: auto;

    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }


    .address-list-link {
        font-style: normal;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .address-list-link:hover,
    .address-list-link:focus {
        color: #404BBF;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .open-menu-hamburger {
        display: none;
    }



    /*----------SOLUTION----------*/
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .solution {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office-tab-2x.jpg);
        }
    }

    .solution-title {
        max-width: 496px;
        height: 120px;
        font-size: 56px;
        margin-bottom: 36px;
    }

    /*----------FEATURES----------*/

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-item-title {
        text-align: left;
    }

    .features-list {
        gap: 72px 24px;
    }

    /*----------TEAM----------*/

    .team-container {
        max-width: 584px;
        /* width: calc((100% - 24) / 2); */
    }

    .team-list {
        gap: 24px;
        row-gap: 64px;
    }

    /*----------CUSTOMERS----------*/

    .customers-container {
        max-width: 584px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
    }

    .customers-list {
        gap: 72px 24px;
    }

    /*----------FOOTER----------*/

    .footer-container {
        max-width: 584px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        column-gap: 24px;
        row-gap: 72px;
        text-align: left;
    }

    .footer-input {
        max-width: 264px;
    }

    .footer-label {
        width: 264px;
    }

    .footer-sub-form {
        flex-direction: row;
        gap: 24px;
        justify-content: left;
    }
}

/*!----------DESKTOP----------*/
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1160px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;

    }

    .address-list-link {
        font-size: 16px;
    }

    .active::after {
        bottom: -1px;

    }



    /*----------SOLUTION----------*/
    .solution {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .solution {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office-2x.jpg);
        }

    }

    .solution-title {
        margin-bottom: 48px;
    }

    /*----------FEATURES----------*/

    .features-item-container {
        display: flex;
        background-color: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        align-items: center;
        justify-content: center;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-item-title {
        font-size: 20px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: left;
    }

    .features-item-text {
        font-weight: 400;
        letter-spacing: 0.32px;
    }

    .features {
        padding-top: 120px;
        padding-bottom: 120px;

    }

    /*----------DOING----------*/

    .doing {
        padding-bottom: 120px;
        display: flex;
    }

    .doing-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-color-dark);
        margin-bottom: 72px;
    }

    .doing-list {
        display: flex;
        gap: 24px;
    }

    /*----------TEAM----------*/

    .team {
        padding-top: 120px;
        padding-bottom: 120px;

    }

    .doing-item {
        width: 360px;
    }

    .team-container {
        width: calc((100% - 72) / 4);
    }


    /*----------CUSTOMERS----------*/

    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .customers-item {
        width: calc((100% - 5 * 24px) / 6);
    }

    .customers-list {
        gap: 24px;
    }

    /*----------FOOTER----------*/

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .footer-subscribe {
        width: unset;
    }

    .footer-container-logo {
        margin-right: 120px;
        max-width: 264px
    }

    .footer-container-soc {
        margin-left: 0;
        margin-right: 80px;
    }

    .footer-container {
        gap: 0;
    }

}