:root {
    --title-color-dark: #2E2F42;
    --title-color-light: #FFFFFF;
    --main-text-color: #434455;
    --second-text-color: #F4F4FD;
    --button-border-color: #e7e9fc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.list {
    list-style-type: none;
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------HEADER----------*/

.header {
    padding: 24px 0;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-container {
    display: flex;
    text-align: center;
    justify-content: center;


}

.header-logo span {
    color: #2e2f42;
}

.header-menu {
    display: none;

}

.address-list {
    display: none;
}

.open-menu-hamburger {
    width: 32px;
    height: 22px;
    stroke: #2E2F42;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;

}

.mob-menu-container {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.mob-menu-container.is-open {
    visibility: hidden;
}

.mob-close-menu {
    margin-left: auto;
    fill: #2E2F42;
    border: 1px solid rgba(46, 47, 66, 0.1);
    background-color: rgba(231, 233, 252, 0.1);
    rgba(46, 47, 66, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 32px;

}

.mob-menu {
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1em;
    letter-spacing: 0.02em;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    color: var(--title-color-dark);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #404BBF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-list {
    font-style: normal;
}

.mob-address-email {
    color: #434455;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.mob-address-mob {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.mob-address-mob-link {
    color: #4D5AE5;
}

.mob-address-email-link {
    color: #434455;

}

.mob-item-icons {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 56px;
}

.mob-soc {}

.mob-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {}

/*----------SOLUTION----------*/

.solution {
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-people-office-mob-2x.jpg);
    }

}

.solution-container {}

.solution-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 72px;

    display: flex;
    width: 320px;
    flex-direction: column;
    text-transform: capitalize;

}

.solution-btn {
    font-family: "Roboto", sans-serif;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.solution-btn:hover,
.solution-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/*----------FEATURES----------*/

.features {
    padding-top: 96px;
    padding-bottom: 96px;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.features-container {}

.features-list {
    display: flex;
    gap: 72px;
    position: relative;
    flex-wrap: wrap;

}

.features-item {
    width: 100%;
    /* width: calc((100% - 72px) / 4); */
}

.features-item-container {
    display: none;

}

.features-item-image {
    width: 64px;
    height: 64px;
}

.features-item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: 0.72px;
    color: var(--title-color-dark);
    margin-bottom: 8px;
    text-align: center;
}

.features-item-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*----------DOING----------*/
.doing {
    display: none;
}

/*----------TEAM----------*/

.team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;

}

.team-container {
    width: 100%;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-dark);
    margin-bottom: 72px;
    text-align: center;

}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    text-align: center;
    justify-content: center;

}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-container {
    padding: 32px 0;
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.team-item-icons {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 24px;
    justify-content: center;

}

.team-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}


.soc-icon {
    fill: #F4F4FD;

}


/*----------CUSTOMERS----------*/


.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customers-item {
    /* width: 100%; */
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-icon {
    fill: currentColor;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: curretnColor;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.customers-link:hover,
.customers-link:focus {
    border: 1px solid #404BBF;
    color: #404bbf;
    ;
}

.customers-icon:hover,
.customers-icon:focus {
    fill: #404BBF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*----------FOOTER----------*/

.footer {
    font-family: "Raleway", sans-serif;
    background: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    text-align: center;
}

.footer-container-logo {
    max-width: 268px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    max-width: 115px;
    display: inline-block;
    margin-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo span {
    color: #F4F4FD;
}

.footer-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 268px;
    text-align: left;
}

.footer-container-soc {
    padding-left: 0;
    max-width: 208px;
}

.footer-text-soc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-light);
    margin-bottom: 16px;

}

.footer-item-icons {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
}

.footer-item-soc {}

.footer-soc-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;

}


.footer-soc-icon {
    fill: #f4f4fd;
}

.footer-subscribe {
    width: 100%;
}

.footer-label {
    width: 100%;
}

.footer-subscribe-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-light);
    margin-bottom: 16px;
}

.footer-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
    opacity: 0.30000001192092896;
    border-radius: 4px;
    background-color: transparent;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--title-color-light);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--title-color-light);
}

.footer-sub-btn {
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-sub-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.footer-icon-subscribe {
    fill: var(--title-color-light);
    margin-left: 16px;
}

/*----------PORTFOLIO----------*/

.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.container-portfolio {}

.filters-title {}

.filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}

.filters-item {}

.filters-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
    letter-spacing: 0.04em;
    border: none;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    color: #FFFFFF;
    background: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {}


.container-portfolio {}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-items {
    width: calc((100% - 48px) / 3);


}

.portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;

}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .portfolio-item-text,
.portfolio-link:focus .portfolio-item-text {
    transform: translateY(0%);
}


.portfolio-item-block {
    position: relative;
    overflow: hidden;

}

.container-items {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-text {
    position: absolute;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.portfolio-img {}


/*----------MODAL----------*/
.backdrop {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-botton {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-botton:hover,
.modal-botton:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-check {
    margin-bottom: 24px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 24px;
    color: var(--title-color-dark);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
    display: block;

}

.input-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.input-icon {
    fill: #4D5AE5;
}

.input-wrap {
    position: relative;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    color: var(--title-color-dark);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-color: #4D5AE5;
}

.check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
    margin-bottom: 24px;
}

.check-label a {
    color: #4D5AE5;
    text-decoration: underline;
    margin-left: 3px;
}

.check-block {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
}

.input-check:checked+.check-label>.check-block {
    background-color: #404BBF;
    border: 1px solid #404BBF;
    fill: #F4F4FD;
    border: none;
}

.chechbox-link {}

.modal-botton-send {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}